.App {
  text-align: center;
}

.flex-cont {
  display: flex;
  margin: 20px;
  flex-direction: column;
}

.user-form {
  margin-top: 25px;
  margin-left: 50px;
  max-width: 250px;
  /* margin: auto; */
}

.btn2 {
  width: 100%;
}